.header
	padding-top: 24px 
	position: relative
	height: 470px - 24px 

	.header__logo
		a
			position: absolute
			top: 29px 
			left: 0 
			+s(biglogo)
			float: left
			+hidetext
			z-index: 20 
			opacity: 1
			&:hover
				opacity: .5
	&.header_inside
		height: 140px - 24px
		.header__logo a
			+s(logonormal)
		
.nav
	position: absolute
	left: 180px 
	top: 38px
	ul
		list-style: none
		float: left
		border-left: 1px solid #C8CBCE 
		a
			text-decoration: none
			text-transform: uppercase
			color: #3B3B3B 
			font-size: 13px 
			display: block
			padding: 3px 14px 
			&:hover
				color: #27A9DE 
	.nav__1
		width: 180px 
	.nav__2
		width: 260px 
	.nav__3
		width: 160px 
.mainslider
	height: 325px 
	//background: url(../img/sot1.png) no-repeat 50% 0
	position: absolute
	top: 152px 
	left: 0px 
	width: 100% 
	.mainslider__slides
		height: 303px 
	.mainslider__slide
		height: 303px 
		width: 100%
		float: left 
		.mainslider__pic
			position: absolute
			left: 125px 
			top: 0px 
			height: 303px 
		.mainslider__text
			position: absolute
			left: 626px 
			top: 40px 
			width: 356px 
			h2
				font-size: 42px 
				+bold
				color: #3B3B3B
				text-transform: uppercase
				line-height: 1
				min-height: 1.6em 
				span
					font-size: 30px 
					display: block

		.mainslider__sub
			font-weight: normal
			margin-top: 4px 
			+semi
			font-size: 18px 
			strong
				font-weight: normal
				color: #3DA0D5
				text-transform: uppercase  
		.mainslider__info
			color: #3B3B3B
			font-size: 13px  
			margin-bottom: 12px 
			margin-top: 7px 
		.mainslider__link
			font-size: 13px 
			color: #3B3B3B 
	.mainslider__slidelong
		.mainslider__text
			top: 20px
	.mainslider__next,.mainslider__prev
		position: absolute
		top: 104px 
		+s(next)
		left: 511px + 24px
		z-index: 200
		cursor: pointer
	.mainslider__next
		&:hover
			+s(nexthover)
		&:active
			+s(nextactive)
	.mainslider__prev
		+s(prev)
		left: 70px + 24px
		&:hover
			+s(prevhover)
		&:active
			+s(prevactive)
	.mainslider__pagination
		position: absolute
		text-align: center
		bottom: 0
		left: 0
		width: 100%   
		a,span
			display: inline-block
			margin-right: 6px 
			width: 11px 
			height: 11px 
			vertical-align: middle
			background: #C1C4C7
			border-radius: 11px
			+hidetext
			&:hover
				background: #878C93 
			&.is-active,&.cycle-pager-active
				background: #323C46 
			
	
.callus
	position: absolute
	right: 0
	width: 200px  
	top: 28px 
	text-align: left
	color: #3B3B3B
	text-decoration: none 
	font-size: 13px 
	a
		color: #3B3B3B
		text-decoration: none 
	.callus__back
		i
			+s(phone)
			display: inline-block
			vertical-align: middle
			margin-right: 5px 
	&.is-active
		.callus__back
			text-decoration: none
		span
			text-decoration: underline
			font-size: 13px 
			color: #3B3B3B 
	.callus__phone
		font-size: 23px 
		font-weight: normal
		display: block 
		line-height: 1
		text-indent: -.5em 
		padding: 5px 0 2px 0  
.callus__drop
	position: absolute
	top: -5px
	width: 265px - 40px 
	left: -281px 
	background-color: #879193
	+box-shadow(0 4px 6px rgba(0,0,0,.25))
	border-radius: 6px
	padding: 20px 
	display: none
	.is-active &
		display: block
	.callus__droparr
		position: absolute
		top: 10px 
		right: -6px 
		+s(droparr)
	.callus__dropinput 
		display: inline-block
		input
			font-size: 13px 
			color: #7A8087
			width: 150px  
			padding: 0 10px
			height: 30px   
			line-height: 30px
			background: #fff  
			border: none 
	.callus__dropsubmit
		display: inline-block
		@extend %button
		margin-left: 10px 
		i
			+s(check)
			display: inline-block

	