.h1
	margin-top: 20px
	line-height: 1  
.object
	float: left
	width: 730px 
	overflow: hidden

// tabs-menu
.tabs-menu
	float: right
	width: 210px
	margin-top: 40px 
	+box
	+border-radius(4px)
	border: 1px solid #d2d2d2
	ul
		list-style-type: none 
.tab-menu__item
	border-top: 1px solid #d2d2d2
	&:first-child
		border-top: none
		a	
			+border-radius(4px 4px 0 0)
	&:last-child
		a
			+border-radius(0 0 4px 4px)	 
	a
		display: block
		height: 40px
		line-height: 40px
		padding: 0 0 0 13px
		letter-spacing: -0.5px
		white-space: nowrap
		color: #3b3b3b
		font-size: 13px
		text-decoration: none  
		+box
		background: #F6F6F6
		+g(#fff, #f0f0f0)
		&:hover
			background: #e6e6e6 
			+g(#fff, #d1d1d1)
		&:active
			background: dadada
			+g(#d1d1d1, #fefefe)
.tab-menu__item.is-active
	position: relative
	border-top: 1px solid #72a215 
	+box-shadow(0 1px 0 rgba(255,255,255,.75), inset 0 1px 1px rgba(0,0,0,.21))
	&:before
		content: ""
		position: absolute
		top: 0px
		left: -14px
		+s(tab-left)
	&:after
		content: ""
		position: absolute
		top: 0
		bottom: 0
		right: -4px
		width: 4px
		+border-radius(0 4px 4px 0)
		background: #87c019  	
	a	 	
		font-weight: bold
		color: #fff
		background: #87c019
	&:last-child
		a
			+border-radius(0)
.newsitem__text
	img
		width: 100%
		margin: 1em 0

// terms
.terms
	margin: 32px 0 58px
	padding: 0 2px 
.variants
	+clr
.variants__item
	float: left
	width: 354px
	min-height: 195px
	+box
	padding: 21px 15px 21px 99px  
	border: 1px solid #b1bfcf
	+border-radius(6px)
	background: #fff
	+box-shadow(0 0 0 2px #d5e1e9)
.variants__item_right
	float: right
.installment
	background: url(../img/installment.png) 33px 22px no-repeat 
.gift
	background: url(../img/gift.png) 33px 22px no-repeat
.variants__title
	margin-bottom: 10px 
	text-transform: uppercase
	font-size: 17px
	font-weight: bold 
	color: #3b3b3b
.variants__text
	margin-bottom: 10px
.variants__list
	list-style-type: none
	padding: 0 20px
	li
		position: relative
		margin-bottom: 5px 
		&:before
			content: ""
			position: absolute
			top: 8px
			left: -20px
			width: 4px
			height: 4px
			background: #5e6d76
.banks
	list-style-type: none
.bank
	margin-bottom: 60px 	 			
.bank__title
	position: relative
	display: inline-block
	margin-bottom: 28px 
	padding-right: 20px
	font-size: 0
	&:before
		content: ""
		position: absolute
		top: 50%
		left: 100%
		width: 5000px
		height: 1px
		background: #c8cbce   
	span
		font-weight: bold
		font-size: 23px 
		color: #3b3b3b
		vertical-align: middle
	i
		display: inline-block
		vertical-align: middle
		margin-right: 20px 	  			
.sberbank
	+s(sberbank)
	
.vtb
	+s(vtb)
.offer
	margin-bottom: 30px 
.offer__title
	margin-bottom: 20px 
	font-weight: bold
	font-size: 18px
.offer__benefits
	position: relative
	text-align: justify
	line-height: 0
	font-size: 1px
	text-justify: newspaper
	zoom: 1
	text-align-last: justify
	&:after
		content: ""
		width: 100%
		height: 0px
		visibility: hidden
		overflow: hidden
		display: inline-block
	li
		width: 123px 
		display: inline-block
		text-align: center
		line-height: normal
		font-size: 13px
		vertical-align: top 
.offer__percent
	margin-bottom: 5px 
	font-size: 24px
.offer__descr
	line-height: 1.6

// infrastructure
.infrastucture
	padding: 30px 0 0 
.infra-map
	height: 250px
	margin-bottom: 30px 
	+border-radius(4px)
.infra-places
	text-align: justify
	line-height: 0
	font-size: 1px
	text-justify: newspaper
	zoom: 1
	text-align-last: justify
	&:after
		content: ""
		width: 100%
		height: 0px
		visibility: hidden
		overflow: hidden
		display: inline-block
	li
		display: inline-block
		text-align: left
		line-height: normal
		width: 150px 
		vertical-align: top
		padding-bottom: 40px
		a
			display: block
			text-decoration: none
			font-size: 13px
			color: #3b3b3b 
.infra-places__title
	display: inline-block
	margin-bottom: 20px 
	font-weight: bold
	font-size: 14px 
	color: #18a8e0	
	line-height: 1
	border-bottom: 1px solid #d6ebf7    	 	 			 
.border-title
	text-align: center
	margin-bottom: 30px 
	span
		position: relative
		font-weight: bold
		font-size: 23px
		padding: 0 20px 
		&:before
			content: ""
			position: absolute
			top: 50%
			left: 100%
			width: 3000px 
			height: 1px
			background: #c8cbce
		&:after
			content: ""
			position: absolute
			top: 50%
			right: 100%
			width: 3000px 
			height: 1px
			background: #c8cbce
.location
	margin-bottom: 60px 			
.location__list 
	+clr
	list-style-type: none 
.location__item
	width: 50%
	float: left
	padding: 0 30px 0 0px  	
	+box
	p
		margin-top: 20px
		font-size: 14px
		&:first-child
			margin-top: 0   
	a
		text-decoration: none
		font-size: 14px 
		color: #18a8e0
		span
			line-height: 1
			border-bottom: 1px solid #c5e9f7
.location__text
	margin-bottom: 30px 
	font-size: 14px 			
.own-transport
	padding-left: 72px 
	background: url(../img/car.png) 0px 0px no-repeat 			  		  
.public-transport
	padding-left: 72px 
	background: url(../img/car2.png) 0px 0px no-repeat
.location__benefits 
	list-style-type: none
	padding-left: 14px
	margin-bottom: 30px
	li
		position: relative
		margin-bottom: 10px 
		font-weight: bold
		font-size: 14px  
		&:before
			content: ""
			position: absolute
			top: 8px
			left: -14px
			width: 4px
			height: 4px
			background: #5f6d76
.location__img
	list-style-type: none
	text-align: justify
	line-height: 0
	font-size: 1px
	text-justify: newspaper
	zoom: 1
	text-align-last: justify
	&:after
		content: ""
		width: 100%
		height: 0px
		visibility: hidden
		overflow: hidden
		display: inline-block
	li
		display: inline-block
		text-align: left
		line-height: normal
		width: 86px 
		vertical-align: top
.location__link
	display: block
	width: 86px
	height: 60px
	+border-radius(4px)
	overflow: hidden
	img
		width: 100%  				   
	 	