.h1
	margin-top: 20px
	line-height: 1
	font-size: 30px 
	+semi
.h4
	font-size: 18px
	margin-bottom: 15px	  
.object
	float: left
	width: 730px 
	// overflow: hidden
	+clr
	&.object_wide
		width: auto 
		float: none
		width: 100%
.object__wrap
	+clr		 

// tabs-menu
.tabs-menu
	float: right
	width: 210px
	//margin-top: 40px 
	+box
	+border-radius(4px)
	border: 1px solid #d2d2d2
	ul
		list-style-type: none 
.tab-menu__item
	border-top: 1px solid #d2d2d2
	&:first-child
		border-top: none
		a	
			+border-radius(4px 4px 0 0)
	&:last-child
		a
			+border-radius(0 0 4px 4px)	 
	a
		display: block
		height: 40px
		line-height: 40px
		padding: 0 0 0 13px
		letter-spacing: -0.5px
		white-space: nowrap
		color: #3b3b3b
		font-size: 13px
		text-decoration: none  
		+box
		background: #F6F6F6
		+g(#fff, #f0f0f0)
		&:hover
			background: #e6e6e6 
			+g(#fff, #d1d1d1)
		&:active
			background: dadada
			+g(#d1d1d1, #fefefe)
.tab-menu__item.is-active
	position: relative
	border-top: 1px solid #72a215 
	+box-shadow(0 1px 0 rgba(255,255,255,.75), inset 0 1px 1px rgba(0,0,0,.21))
	&:before
		content: ""
		position: absolute
		top: 0px
		left: -14px
		+s(tab-left)
	&:after
		content: ""
		position: absolute
		top: 0
		bottom: 0
		right: -4px
		width: 4px
		+border-radius(0 4px 4px 0)
		background: #87c019  	
	a	 	
		font-weight: bold
		color: #fff
		background: #87c019
	&:last-child
		a
			+border-radius(0)
.newsitem__text
	img
		width: 100%
		margin: 1em 0

// terms
.terms
	margin: 32px 0 58px
	padding: 0 2px 
.variants
	+clr
.variants__item
	float: left
	width: 354px
	min-height: 195px
	+box
	padding: 21px 15px 21px 99px  
	border: 1px solid #b1bfcf
	+border-radius(6px)
	background: #fff
	+box-shadow(0 0 0 2px #d5e1e9)
.variants__item_right
	float: right
.installment
	background: url(../img/installment.png) 33px 22px no-repeat 
.gift
	background: url(../img/gift.png) 33px 22px no-repeat
.variants__title
	margin-bottom: 10px 
	text-transform: uppercase
	font-size: 17px
	font-weight: bold 
	color: #3b3b3b
.variants__text
	margin-bottom: 10px
.variants__list
	list-style-type: none
	padding: 0 20px
	li
		position: relative
		margin-bottom: 5px 
		&:before
			content: ""
			position: absolute
			top: 8px
			left: -20px
			width: 4px
			height: 4px
			background: #5e6d76
.banks
	list-style-type: none
.bank
	margin-bottom: 60px 	 			
.bank__title
	position: relative
	display: inline-block
	margin-bottom: 28px 
	padding-right: 20px
	font-size: 0
	&:before
		content: ""
		position: absolute
		top: 50%
		left: 100%
		width: 5000px
		height: 1px
		background: #c8cbce   
	span
		font-weight: bold
		font-size: 23px 
		color: #3b3b3b
		vertical-align: middle
	i
		display: inline-block
		vertical-align: middle
		margin-right: 20px 	  			
.sberbank
	+s(sberbank)
	
.vtb
	+s(vtb)
.offer
	margin-bottom: 30px 
.offer__title
	margin-bottom: 20px 
	font-weight: bold
	font-size: 18px
.offer__benefits
	position: relative
	text-align: justify
	line-height: 0
	font-size: 1px
	text-justify: newspaper
	zoom: 1
	text-align-last: justify
	&:after
		content: ""
		width: 100%
		height: 0px
		visibility: hidden
		overflow: hidden
		display: inline-block
	li
		width: 123px 
		display: inline-block
		text-align: center
		line-height: normal
		font-size: 13px
		vertical-align: top 
.offer__percent
	margin-bottom: 5px 
	font-size: 24px
.offer__descr
	line-height: 1.6

// infrastructure
.infrastucture
	padding: 30px 0 0 
.infra-map
	height: 250px
	margin-bottom: 30px 
	+border-radius(4px)
.infra-places
	text-align: justify
	line-height: 0
	font-size: 1px
	text-justify: newspaper
	zoom: 1
	text-align-last: justify
	&:after
		content: ""
		width: 100%
		height: 0px
		visibility: hidden
		overflow: hidden
		display: inline-block
	li
		display: inline-block
		text-align: left
		line-height: normal
		width: 150px 
		vertical-align: top
		padding-bottom: 40px
		a
			display: block
			text-decoration: none
			font-size: 13px
			color: #3b3b3b 
.infra-places__title
	display: inline-block
	margin-bottom: 20px 
	font-weight: bold
	font-size: 14px 
	color: #18a8e0	
	line-height: 1
	border-bottom: 1px solid #d6ebf7    	 	 			 
.border-title
	text-align: center
	margin-bottom: 30px 
	span
		position: relative
		font-weight: bold
		font-size: 23px
		padding: 0 20px 
		&:before
			content: ""
			position: absolute
			top: 50%
			left: 100%
			width: 3000px 
			height: 1px
			background: #c8cbce
		&:after
			content: ""
			position: absolute
			top: 50%
			right: 100%
			width: 3000px 
			height: 1px
			background: #c8cbce
.location
	margin-bottom: 60px 			
.location__list 
	+clr
	list-style-type: none 
.location__item
	width: 50%
	float: left
	padding: 0 30px 0 0px  	
	+box
	p
		margin-top: 20px
		font-size: 14px
		&:first-child
			margin-top: 0   
	a
		text-decoration: none
		font-size: 14px 
		color: #18a8e0
		span
			line-height: 1
			border-bottom: 1px solid #c5e9f7
.location__text
	margin-bottom: 30px 
	font-size: 14px 			
.own-transport
	padding-left: 72px 
	background: url(../img/car.png) 0px 0px no-repeat 			  		  
.public-transport
	padding-left: 72px 
	background: url(../img/car2.png) 0px 0px no-repeat
.location__benefits 
	list-style-type: none
	padding-left: 14px
	margin-bottom: 30px
	li
		position: relative
		margin-bottom: 10px 
		font-weight: bold
		font-size: 14px  
		&:before
			content: ""
			position: absolute
			top: 8px
			left: -14px
			width: 4px
			height: 4px
			background: #5f6d76
.location__img, .about-gallery__nav
	list-style-type: none
	text-align: justify
	line-height: 0
	font-size: 1px
	text-justify: newspaper
	zoom: 1
	text-align-last: justify
	&:after
		content: ""
		width: 100%
		height: 0px
		visibility: hidden
		overflow: hidden
		display: inline-block
	li
		display: inline-block
		text-align: left
		line-height: normal
		width: 86px 
		vertical-align: top
	li.is-active
		.about-gallery__img
			+opacity(1)	 
.location__link, .about-gallery__img
	display: block
	width: 86px
	height: 60px
	+border-radius(4px)	
	overflow: hidden
	img
		width: 100% 
		
// about
.about
	padding-top: 30px
.about__top
	+clr
	margin-bottom: 60px 
.about-gallery
	width: 365px
	float: left 			 				   
.about-info
	width: 325px
	float: right
.about-gallery__main
	height: 285px
	overflow: hidden
	margin-bottom: 6px 
	+border-radius(4px)
	img
		width: 100%
		height: 100%
.about-gallery__img
	position: relative
	margin-bottom: 6px
	+opacity(.8)
	&:hover
		+opacity(.6)
	&:active
		+opacity(1)
.about-points
	list-style: square
	margin: 25px 0 36px 20px
	color: #1B1B1B
	font-size: 14px  
	li
		margin-bottom: 5px 
		a
			color: #3287D2
			border-bottom: 1px solid #D7E4F4
			text-decoration: none  
.about-table
	width: 100%
	border-collapse: collapse
	margin-bottom: 20px 
	tr
		&:nth-child(2n+1)
			background: #f1f1f1 	
	td
		width: 33%
		text-align: center
		line-height: 30px
		&:first-child
			+border-radius(4px 0 0 4px)
		&:last-child
			+border-radius(0 4px 4px 0)	
.about-callback
	padding: 18px 21px
	margin-bottom: 30px  
	+border-radius(4px)
	background-color: #879193
	+box-shadow(0 4px 6px rgba(0,0,0,.25))
.about-callback_small
	.about-callback__input
		input[type="text"]
			width: 180px 
.about-callback__title
	margin-bottom: 16px 
	text-align: center
	color: #fff
	font-weight: bold
.btn
	height: 30px
	line-height: 30px  
	padding: 0 15px
	font-weight: bold 
	text-transform: uppercase
	color: #fff	
	border: none
	outline: none
	+border-radius(3px)
	background: #ffd57b
	+background-image(linear-gradient(bottom, #5dad19 0%, #97c719 100%))
	cursor: pointer
	&:hover
		background: #182a51
		+background-image(linear-gradient(bottom, #3e930c 0%, #83b50c 100%))
	&:active
		background: #182a51
		+background-image(linear-gradient(bottom, #83b50c 0%, #3e930c 100%))
.btn_wide
	height: 36px
	line-height: 36px  
	padding: 0 50px
	font-size: 15px
	+border-radius(6px)
.btn_gray
	color: #676767
	background: #182a51
	+background-image(linear-gradient(bottom, #dadada 0%, #edeeef 100%))
	&:hover
		background: #182a51
		+background-image(linear-gradient(bottom, #c7c6c6 0%, #e5e5e6 100%))
	&:active
		background: #182a51
		+background-image(linear-gradient(bottom, #e5e5e6 0%, #c7c6c6 100%))
.about-callback__contacts
	font-size: 0 
.about-callback__col
	display: inline-block
	vertical-align: middle
	font-size: 13px
	color: #fff
	span
		font-size: 18px
		font-weight: 600
.about-callback__col_mid
	margin: 0 10px
	color: #dadcdd
.about-info__virtual 
	margin-bottom: 20px
.about__map
	margin-bottom: 60px
.about__mapwide
	height: auto 
	&>div
		height: auto 
	img
		display: block
		width: 100% 
.about__map-wrap
	margin-bottom: 28px
	height: 190px  	  
.about__map-links
	+clr
	list-style-type: none
	margin-bottom: 10s  
	li
		width: 50%
		float: left
		margin-bottom: 10px  
	a
		display: block
		font-size: 0
		color: #3b3b3b
		text-decoration: none
		&:hover
			text-decoration: underline
	i
		display: inline-block
		vertical-align: middle
		margin-right: 10px 
	span
		vertical-align: middle
		font-size: 14px 	
.map-metro
	+s(metro)
.map-parking
	+s(parking)
.map-sport
	+s(sport)	
.map-school
	+s(school)	
.map-park
	+s(park)	
.map-tennis
	+s(tennis)	
.map-children
	+s(children)										
.about__map-help
	text-align: center
	a
		color: #18a8e0
		text-decoration: none
		span
			line-height: 1
			border-bottom: 1px solid #d6ebf7
.special-offer
	min-height: 53px
	margin: 60px 2px 
	padding: 18px 18px 18px 90px 
	border: 1px solid #b1bfcf
	@include border-radius(6px)
	background: url(../img/star.png) 12px 9px no-repeat 
	+box-shadow(0 0 0 2px #d5e1e9)
.special-offer__title
	margin-bottom: 8px 
	font-size: 20px
	font-weight: 500 	
.special-offer__text
	font-size: 14px
	span
		display: inline-block
		margin-left: 9px
		i
			font-style: normal
			font-size: 20px
			font-weight: 500
.advisers
	margin-bottom: 60px 			
.advisers-list
	font-size: 0 
	list-style-type: none
	li
		vertical-align: top
.adviser
	width: 33%
	display: inline-block 	
.adviser__name
	font-size: 15px
	font-weight: bold
	margin-bottom: 7px 
.adviser__post
	margin-bottom: 20px
	font-size: 13px 
.adviser__phone
	margin-bottom: 11px
	font-size: 14px  	 	 	
.ico-phone
	display: inline-block
	margin-right: 15px 
	+s(phone2)
.adviser__mail
	a
		color: #18a8e0
		font-size: 14px 
		text-decoration: none
		span
			line-height: 1
			border-bottom: 1px solid #d6ebf7  	
.ico-mail
	display: inline-block
	margin-right: 15px
	+s(mail2)
.description
	width: 730px 
	overflow: hidden
	height: 900px  
.description__in
	height: 780px 
	overflow: auto
.description-wrap
	-moz-column-count: 2
	-webkit-column-count: 2
	column-count: 2
.description__img
	margin-bottom: 36px 		 	
.description__info
	font-size: 14px
	margin-bottom: 30px 
	li
		margin-bottom: 7px 	
.description__text
	margin-bottom: 25px
.members-list
	font-size: 0
	margin-left: -30px 
.member
	display: inline-block
	vertical-align: top
	margin: 0 0 34px 34px
	a
		display: block
		width: 217px 
		+box
		padding: 20px
		border: 1px solid #fff
		text-decoration: none 
		font-size: 14px
		text-align: center
		&:hover
			border: 1px solid #b1bfcf
			+border-radius(6px)
			+box-shadow(0 0 0 2px #d5e1e9)
			.member__name
				color: #3b3b3b
				font-weight: bold
				span
					border-bottom: none 
.member__logo
	min-height: 85px 
	margin-bottom: 20px
	vertical-align: middle
.member__name
	margin-bottom: 12px
	color: #18a8e0
	span
		border-bottom: 1px solid #d6ebf7 
.member__descr
	color: #3b3b3b
.about-news
	margin-bottom: 60px 	
.about-news-list
	margin-bottom: 30px 
	list-style-type: none
	text-align: justify
	line-height: 0
	font-size: 1px
	text-justify: newspaper
	zoom: 1
	text-align-last: justify
	&:after
		content: ""
		width: 100%
		height: 0px
		visibility: hidden
		overflow: hidden
		display: inline-block
	li
		display: inline-block
		text-align: left
		line-height: normal
		width: 225px 
		vertical-align: top	
.about-news__date
	position: relative
	padding-left: 26px
	margin-bottom: 20px  
	font-size: 13px 
	color: #999
	&:before
		content: ""
		position: absolute
		top: 0
		left: 0
		+s(news)
.about-news__item
	text-decoration: none
	font-size: 13px
	color: #3b3b3b
	span
		color: #18a8e0
		border-bottom: 1px solid #d6ebf7
.about-news__more
	text-align: center
	margin-bottom: 60px
.about-callback__input
	text-align: center
	font: 13px Tahoma, Arial, sans-serif
	color: #fff
	span
		margin-right: 10px 
	input[type="text"]
		width: 378px
		height: 30px
		padding: 0 9px 
		margin-right: 10px
		+box
		+transition(box-shadow 300ms)
		&:focus
			outline: none
			border: 1px solid #8bc319
			+box-shadow(0 0 5px rgba(149,199,25,.8))
.documents__list
	margin-bottom: 30px 
	list-style-type: none
	text-align: justify
	line-height: 0
	font-size: 1px
	text-justify: newspaper
	zoom: 1
	text-align-last: justify
	&:after
		content: ""
		width: 100%
		height: 0px
		visibility: hidden
		overflow: hidden
		display: inline-block
	li
		display: inline-block
		width: 225px 	
.document
	text-align: left
	line-height: normal
	vertical-align: top
	a
		position: relative
		display: block
		margin-bottom: 30px 
		+box
		padding-left: 60px 
		text-decoration: none
		font-size: 13px
.document_pdf
	a
		&:before
			content: ""
			position: absolute
			top: 0
			left: 0
			+s(pdf)
.document_xls
	a
		&:before
			content: ""
			position: absolute
			top: 0
			left: 0
			+s(xls)				 
.document__name
	margin-bottom: 10px 
	color: #18a8e0
	text-decoration: underline
.document__info
	color: #777a7f

// object
.object__nav
	float: left
	width: 208px
	padding-top: 30px 
.housing
	float: right	
	width: 522px
	padding-top: 30px 
.left-menu
	width: 153px
	text-align: right
	margin-bottom: 40px 
.left-menu__title
	margin-bottom: 18px 
	font-size: 18px
	font-weight: bold	 	 
.left-menu__list
	list-style-type: none
	a
		position: relative
		display: block
		height: 28px
		line-height: 26px 
		+box
		+border-radius(2px)
		padding-right: 4px  
		color: #18a8e0
		text-decoration: none
		span
			border-bottom: 1px solid #d6ebf7
	a.is-active
		color: #fff
		background: #87bf19
		+box-shadow(0 1px 0 rgba(255,255,255,.75), inset 0 1px 1px rgba(0,0,0,.21))
		&:after
			content: ""
			position: absolute
			top: 0
			right: -13px
			+s(tab-right_sm)
		span
			border-bottom: none
.housing
	overflow: hidden
	.documents__list
		margin-bottom: 60px 			
.housing__img
	margin-bottom: 60px 
	img
		width: 100%
		height: auto
.housing__text
	margin-bottom: 26px
	ul
		margin-bottom: 36px 
	li
		position: relative
		padding-left: 16px
		margin-bottom: 16px 
		&:before
			content: ""
			position: absolute
			top: 6px
			left: 0
			width: 4px
			height: 4px
			background: #5f6d76
.housing__plans
	margin-bottom: 60px 			 
.plans-tabs
	margin-bottom: 35px 	
.plans-tabs__nav
	list-style-type: none
	text-align: center
	margin-bottom: 40px 
	li
		display: inline-block
		vertical-align: top
		padding: 0 18px
		a
			color: #18a8e0
			font-size: 14px
			text-decoration: none
			span
				border-bottom: 1px solid #d6ebf7
		a.is-active
			color: #3b3b3b
			font-weight: bold
			span
				border-bottom: none
.plans-tabs__content
	text-align: center

// gallery
.housing__gallery
	margin-bottom: 40px 
.gallery-preview
	padding-top: 42px
	margin-bottom: 10px
	+box-shadow(0px 18px 20px -20px #ccc)  
	ul
		+clr
		white-space: nowrap
	li
		width: 105px
		+border-radius(4px) 
		display: inline-block
		vertical-align: top
		+box
		padding: 10px
		&:first-child
			padding: 10px 8px
			margin-left: 2px  
	li.is-active
		position: relative
		+box-shadow(0px -2px 3px 1px #d6e1e9)
		&:before
			content: ""
			position: absolute
			bottom: 0
			right: 100%
			height: 5px
			width: 522px
			+box-shadow(inset 0 -1px 5px 0 #d6e1e9)
		&:after
			content: ""
			position: absolute
			bottom: 0
			left: 100%
			height: 5px
			width: 522px
			+box-shadow(inset 0 -1px 5px 0 #d6e1e9)
		.gallery-preview__img
			+opacity(1)	 	   	
.gallery-preview__img
	display: block
	font-size: 0 
	+opacity(.8)
	&:hover
		+opacity(.6)
	&:active
		+opacity(1)	
	img
		width: 88px
		height: 60px  
.gallery-photo
	min-height: 358px
	img
		width: 100%
		height: auto
		+border-radius(3px)  			

   		 		
		 	 		