
.out_seomain
	padding-bottom: 2570px 
	position: relative
.out_seoobjects
	position: relative
	padding-bottom: 900px 
.seo
	border-top: 2px solid #DBDBDB 
	+clr
	padding-top: 30px 
	padding-bottom: 30px 
	font-size: 13px 
	&.seo_main
		position: absolute
		height: 2520px 
		overflow: hidden
		width: 100% 
		bottom: 0
		left: 0  
	&.seo_objects
		height: 850px 
		position: absolute
		overflow: hidden
		width: 100% 
		bottom: 0
		left: 0  
	.seo__left
		float: left
		width: 710px 
		p
			margin-bottom: 1.2em 
		h3
			font-weight: normal
			+bold
			margin-bottom: 1em
			color: #3B3B3B
			font-size: 16px   
	.seo__right
		width: 260px 
		float: right
		h3
			border-top: 1px solid #EFEFEF 
			padding-top: 12px 
			margin-bottom: 35px 
			+bold
			font-weight: normal
			&.h3first
				border-top: none
				padding-top: 0  
.promolist
	list-style: none
	margin-top: 20px 
	li
		+clr
		+bold
		margin-bottom: 10px 
		
		font-size: 0 
		img
			vertical-align: middle
			margin-right: 10px 
		a
			text-decoration: none
			color: #333C46 
		span
			display: inline-block
			vertical-align: middle
			width: 155px 
			font-size: 17px 
	&.promolist_alt
		li
			margin-top: -30px 